<div class="min-h-screen mx-auto flex place-items-center">
  <div class="max-w-8xl mx-auto px-4 sm:px-6 md:px-8 flex flex-col">
    <h1 class="flex justify-center self-center text-4xl font-bold text-slate-900">DATA STREAM</h1>
    <div class="mt-10 relative">
      <div class="p-3 rounded-t-lg h-14 bg-slate-900 flex justify-between" [formGroup]="form">
        <div class="flex grow items-center justify-start">
          <label class="block text-sm font-medium text-slate-100 mr-2">Interval :</label>
          <input
            type="number"
            formControlName="interval"
            class="p-1 mr-2 focus:ring-indigo-500 focus:border-indigo-500 block shadow-sm sm:text-sm border-gray-300 rounded-md"
          />

          <button
            class="p-1 duration-300 ease-in-out text-slate-200 hover:text-slate-100 shadow-sm border-2 rounded-md disabled:bg-gray-500"
            [ngClass]="
              !triggerEvent$.value
                ? 'shadow-green-500/50 hover:shadow-green-500/80 border-green-500 bg-green-700 hover:bg-green-600 hover:border-green-400'
                : 'shadow-red-500/50 hover:shadow-red-500/80 border-red-500 bg-red-700 hover:bg-red-600 hover:border-red-400'
            "
            (click)="trigger()"
            [disabled]="!form.valid"
          >
            {{ !triggerEvent$.value ? 'START' : 'STOP' }}
          </button>
        </div>
        <fieldset class="grow flex justify-end self-center">
          <div class="flex">
            <label class="block text-sm font-medium text-slate-100 mr-3">Is Critical ? :</label>
            <div class="flex items-center mr-3" *ngFor="let criticalValue of isCriticalFields">
              <input
                name="isCritical"
                type="radio"
                class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300"
                [value]="criticalValue"
                formControlName="isCritical"
              />
              <label class="ml-3 block text-sm font-medium text-slate-200"> {{ criticalValue }} </label>
            </div>
          </div>
        </fieldset>
      </div>
      <div
        id="view"
        #tableView
        class="shadow-2xl shadow-slate-700 overflow-hidden lg:overflow-auto scrollbar:!w-1.5 scrollbar:!h-1.5 scrollbar:bg-transparent scrollbar-track:!bg-slate-100 scrollbar-thumb:!rounded scrollbar-thumb:!bg-slate-300 scrollbar-track:!rounded dark:scrollbar-track:!bg-slate-500/[0.16] dark:scrollbar-thumb:!bg-slate-500/50 supports-scrollbars:pr-2"
        style="max-height: 75vh"
      >
        <table class="table-fixed w-full text-sm">
          <thead>
            <tr>
              <th
                class="h-14 drop-shadow-lg sticky z-10 top-0 text-sm leading-6 font-semibold text-slate-700 py-2 px-1 dark:text-slate-300"
                *ngFor="let col of tableColumns; trackBy: trackByCol"
                [ngClass]="sortEvent$.value?.col === col.fieldName ? 'bg-slate-600' : 'bg-slate-900'"
              >
                <span class="flex flex-col justify-between h-full">
                  <span class="flex items-center py-1">
                    <span class="grow">{{ col.header }}</span>
                    <i
                      *ngIf="col.options?.hasSort"
                      class="self-center px-1 text-lg hover:text-xl cursor-pointer bi duration-300 ease-in-out"
                      [ngClass]="
                        sortEvent$.value?.col === col.fieldName && sortEvent$.value?.sort === 'ascending'
                          ? 'bi-sort-up-alt'
                          : 'bi-sort-down'
                      "
                      (click)="sortTrigger(col)"
                    ></i>
                  </span>
                </span>
              </th>
            </tr>
          </thead>
          <tbody class="bg-white dark:bg-slate-800">
            <tr
              class="h-14 duration-300 shadow-md border-0 ease-in-out"
              *ngFor="let data of tableData; trackBy: trackByRow"
              [ngClass]="{ 'dark:bg-slate-700 drop-shadow-lg border-2 border-slate-600 shadow-slate-500': data.checked }"
            >
              <td
                *ngFor="let col of tableColumns; trackBy: trackByCol"
                class="border-2 border-slate-700 duration-300 ease-in-out p-1 text-slate-400 break-all text-xs text-center"
                [ngClass]="{ 'dark:text-slate-100': data.checked }"
              >
                {{ data.data | map: getData:col | streamDate }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="p-3 rounded-b-lg h-14 bg-slate-900 flex justify-center">
        <h2 class="text-slate-300 flex items-center text-md">
          Total Elements: <span class="ml-2 text-lg text-slate-200">{{ tableData.length }}</span>
        </h2>
      </div>
    </div>
  </div>
</div>
